.main {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #051937;
  border-radius: 5px;
  padding-top: 46px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0);
  color: white;
}
.navbar a {
  color: white;
  text-decoration: none;
}
.profile {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  border-radius: 50px;
  background-color: #051937;
}
.profile img {
  height: 250px;
  width: 250px;
  background-size: cover;
  border-radius: 50%;
}
hr {
  border: 2px solid rgba(1, 19, 3);
  border-radius: 5px;
}
.about {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
  padding: 20px;
}
.about h3 {
   height: 275px;
  width: 450px; 
  background-color: rgba(0, 0, 0, 0.425);
  display: flex;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 5px;
  color: white;
  overflow-y: auto;
  flex-direction: column;
  padding-bottom: 10px;
}
.navbar ul {
  display: block;
  height: 15vh;
  width: 10vw;
  background-color: rgba(0, 0, 0, 0.594);
  border-radius: 20px;
  padding-top: 10px;
  position: absolute;
  margin-top: 8px;
  list-style: none;
}

.skill h3 {
  font-size: 20px;
  font-weight: 500;
}
.skill a {
  width: 140px;
  display: flex;
  margin-top: 130px;
  margin-left: 250px;
  background-color: rgba(191, 22, 22, 0.814);
  color: white;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
}
.navbar ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* for mobile*/
@media (max-width: 576px) and (orientation: portrait) {
  .about h3 {
    width: 80vw;
    height: auto;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 15px;
  }
  .profile img {
    width: 150px;
    height: 150px;
    margin-right: 31px;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    height: auto;
    padding: 10px 0;
  }
  .navbar h3 {
    font-size: 14px;
    margin: 5px 0;
  }
  .navbar ul {
    width: 32vw;
    height: auto;
    background-color: rgba(245, 12, 12);
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 36px;
    right: 10px;
    z-index: 1000;
    box-sizing: border-box;
  }
  .skill a {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }
}
/* landscape mobile*/
@media (min-width: 600px) and (max-width: 1024px) {
  /* Small laptops / Landscape tablets */
  .about h3 {
    width: 60vw;
    height: auto;
    font-size: 22px;
    background-color: green;
   
  }
  .profile img {
    width: 250px;
    height: 250px;
  }
  .navbar h3{
    padding: 8px;
  }
  .navbar ul {
    width: 22vw;
    height: auto;
    right: 15px;
    background-color:red;
  }
  .skill a {
    margin-left: 250px;
    margin-top: 70px;
  }}
